behaviors:
  TowerAgent:
    trainer_type: ppo
    hyperparameters:
      batch_size: 256
      buffer_size: 1024
      learning_rate: 0.005
      beta: 0.02
      epsilon: 0.2
      lambd: 0.93
      num_epoch: 3
      learning_rate_schedule: linear
    network_settings:
      normalize: true
      hidden_units: 64
      num_layers: 3
      vis_encode_type: simple
      continuous_actions: 2
    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0
    keep_checkpoints: 1
    max_steps: 75000
    time_horizon: 512
    summary_freq: 1000

